
*{
    padding: 0;
    margin: 0;
}
#naodai{
    width: 980px;
    height:auto;
    border: 1px solid purple;
    border-radius: 10px;
    margin: 20px;
}
header{
    width: 960px;
    height:100px;
    border: 1px solid red;
    border-radius: 10px;
    margin: 20px auto;
}
nav{
    width: 960px;
    height:50px;
    border: 1px solid brown;
    border-radius: 10px;
    margin: 20px auto;
}
main{
    width: 960px;
    height:420px;
    border: 1px solid rgb(252, 119, 85);
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    width: 30%;
    height:400px;
    border: 1px solid rgb(255, 255, 21);
    border-radius: 10px;
    margin: 10px 20px ;
    background-color: aqua;
}
#zuobian{
    float: left;
}
#youbian{
    float: right;
}
aside{
    width: 30%;
    height:400px;
    border: 1px solid blue;
    border-radius: 10px;
    margin: 10px 0px ;
}
footer{
    width: 960px;
    height:100px;
    border: 1px solid rgb(109, 233, 255);
    border-radius: 10px;
    margin: 20px 0px ;
}